:root {
    --backgroundC: #ffffff;
    --fontC: #222;
    --borderC: rgb(0, 0, 0);
    --screenC: rgb(249, 249, 249);
    --calculatorC: linear-gradient(#403b4a, #e9c7bb);
    /*--calculatorC: rgb(177, 170, 170);*/
    --btnC: rgb(236, 236, 236);
    --btnHoverC: #ddd;
    --btnActiveC: #ccc;
  }
  
  html {
    height: 100%;
  }
  
  body {
    background-color: var(--backgroundC);
    color: var(--fontC);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  button {
    border: none;
    color: var(--fontC);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    height: 68px;
    width: 72px;
  }
  
  
  .calculator {
    width: 333px;
    border: 2px var(--borderC) solid;
    border-radius: 20px;
    padding: 30px 20px 20px 20px;
    /*background-color: var(--calculatorC); */
    background: var(--calculatorC);
  }
  
  #screen {
    padding: 10px 20px;
    border: 2px var(--borderC) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screenC);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    min-height: 77px;
    font-size: 40px;
  }
  
  
  .buttons-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    /* centering within their own grid cell */
    justify-items: center; 
  }

  .numbers,
  #toggle-sign,
  #dot {
    padding: 20px;
    border: 2px var(--borderC) solid;
    border-radius: 10px;
    background-color: var(--btnC);
    font-size: 20px;
  } 

  .operators,
  #delete,
  #all-clear,
  #equal {
    padding: 20px;
    border: 2px var(--borderC) solid;
    border-radius: 50%;
    background-color: var(--btnC);
    font-size: 20px;
  }

button:hover,
#toggle-sign:hover,
#dot:hover,
#delete:hover,
#all-clear:hover,
#equal:hover {
    background-color: var(--btnHoverC);
}

button:active,
#toggle-sign:active,
#dot:active,
#delete:active,
#all-clear:active,
#equal:active {
    background-color: var(--btnActiveC);
}

